.lucid-SplitVertical {
	display: flex;
	outline: 1px solid #767b7f;

	& > .lucid-SplitVertical-Panel {
		//background: #f80;
		background: rgba(255, 136, 0, 0.5);
		color: white;
		transition: transform 500ms;

		&-has-set-width {
			flex: 1 0 auto;
		}
	}

	//&:not(&-is-expanded) {
	//	.lucid-SplitVertical-Panel-is-target {
	//		transform: translateX(-100%);
	//	}

	//	&:not(.lucid-SplitVertical-Panel-is-target) {
	//		width: 100% !important;
	//	}
	//}

	& > .lucid-SplitVertical-Split {
		background: @color-primary;
		width: 4px;
		cursor: ew-resize;
	}
}
