.lucid-SplitVertical {
	overflow: hidden;

	& > &-inner {
		display: flex;
		transition: transform 500ms;

		& > .lucid-SplitVertical-LeftPane,& > .lucid-SplitVertical-RightPane {
			background: rgba(255, 136, 0, 0.5);
			color: white;
			flex: 1;
			transition: margin-left 250ms, margin-right 250ms;

			&.lucid-SplitVertical-is-secondary {
				flex: 0;
			}
		}

		& > .lucid-SplitVertical-Divider {
			background: @color-primary;
			width: 4px;
			cursor: ew-resize;
		}
	}

	&-is-expanded {
		& > .lucid-SplitVertical-inner {
			& > .lucid-SplitVertical-LeftPane,& > .lucid-SplitVertical-RightPane {
				transition: margin-left 250ms 250ms, margin-right 250ms 250ms;
			}
		}
	}
}
